<footer class="footer">
    <div class="footer-content">
        <div class="row">
            <div class="col-3">
                <img src="../../assets/logo.png" width="100%">
                <p>Unleash the Magic of Adrasan: Discover Limitless Adventures on our Boat Tours!</p>
            </div>
            <div class="col-3">
                <h4>Corporate</h4> <hr>
                <a routerLink="/tours">Adrasan Boat Tour</a> <br>
                <a routerLink="/tours">Suluada Boat Tour</a> <br>
                <a routerLink="/prices">Prices</a> <br>
                <a routerLink="/gallery">Gallery</a> <br>
            </div>
            <div class="col-3">
                <h4>Routes</h4> <hr>
                <a href="#">Suluada Route</a> <br>
                <a href="#">Ceneviz Route</a> <br>
                <a href="#">Korsan Route</a> <br>
                <a href="#">Kemer Route</a> <br>
            </div>
            <div class="col-3">
                <h4>Contact</h4> <hr>
                <p>Adrasan Sahili, 07350 Kumluca/Antalya</p>
                <p>0 (535) 996 96 81</p>
                <p>info@AquaVoyage.com</p>
            </div>
        </div>
    </div>
  </footer>
  