<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/adrasan1.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/adrasan2.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/adrasan3.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<div class="homeabout">
  <h4>Adrasan Bays: Untouched Beauty in Antalya</h4>
  <p>Adrasan is a beautiful coastal village located in the Antalya province of Turkey. Known for its pristine beaches and stunning natural scenery, it is a hidden gem that offers a peaceful and tranquil getaway for travelers seeking relaxation and serenity.</p>
  <p>The village is famous for its picturesque bays, which are surrounded by lush green hills and crystal-clear turquoise waters. The bays of Adrasan are like a paradise on earth, providing visitors with the perfect setting to unwind and soak up the sun. The calm and peaceful atmosphere of these bays make them ideal for swimming, snorkeling, and various water activities.</p>
  <p>One of the most popular bays in Adrasan is Cavuskoy Bay, which is characterized by its crescent-shaped sandy beach and shallow waters. This bay is perfect for families with children and those who prefer calm and shallow swimming conditions. Sunbeds and umbrellas are available for rent, ensuring a comfortable beach experience.</p>
  <p>Another noteworthy bay is Sazak Bay, which is nestled between two rocky cliffs and offers a more secluded and intimate atmosphere. This bay is ideal for those who wish to escape the crowds and enjoy a peaceful day by the sea. The untouched natural beauty of Sazak Bay is truly captivating, with its pristine beach and crystal-clear waters.</p>
</div>

<div class="wave">
  <img src="../../assets/wave.png">
</div>

<div class="shortviews">
  <div class="row" id="view">
    <div class="col-3">
      <img src="../../assets/11.jpg">
    </div>
    <div class="col-9">
      <h4>Adrasan Beach</h4>
      <p>Known as the pearl of Antalya, Adrasan Bay dazzles with its crystal-clear blue waters and the surrounding lush greenery, promising a dream-like vacation. Here, you can take sunset walks, refresh yourself with a swim in the pristine waters, and find tranquility on untouched beaches.</p>
    </div>
  </div>
  <div class="row" id="view">
    <div class="col-3">
      <img src="../../assets/12.jpg">
    </div>
    <div class="col-9">
      <h4>Suluada Bay</h4>
      <p>Suluada Bay, the hidden paradise of Adrasan, invites you to escape with its tranquil beaches, azure sea, and untouched natural surroundings. You can reach a small island in the middle of the sea by walking, snorkel in the clear waters, and observe rare marine life. It's an ideal choice for experiencing peaceful moments in the embrace of nature.</p>
    </div>
  </div>
  <div class="row" id="view">
    <div class="col-3">
      <img src="../../assets/13.jpg">
    </div>
    <div class="col-9">
      <h4>Sazak Bay</h4>
      <p>Sazak Bay, an extraordinary natural beauty in Adrasan, offers a tranquil atmosphere and stunning landscapes for a rejuvenating experience. You can enjoy the pleasures of the sea, explore the natural surroundings, and lose track of time in a serene environment.</p>
    </div>
  </div>

</div>
