
<div class="card-deck">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/8.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9"><h5 class="card-title">Adrasan Boat Tour</h5></div>
                        <div class="col-3"><h5 class="card-title">400 TL</h5></div>
                    </div>
                    <p class="card-text">Akseki Koyu, Ceneviz Koyu, Sazak Koyu, Korsan Koyu</p>
                    <p class="card-text"><small class="text-muted">Last updated 6 weeks ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/13.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9"><h5 class="card-title">Suluada Boat Tour</h5></div>
                        <div class="col-3"><h5 class="card-title">350 TL</h5></div>
                    </div>
                    <p class="card-text">Suluada, Ağlayan Mağara, Fener Koyu, Amerikan Plajı</p>
                    <p class="card-text"><small class="text-muted">Last updated 8 weeks ago</small></p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <img class="card-img-top"  src="../../assets/9.jpg" alt="Card image cap">
                <div class="card-body">
                    <div class="row">
                        <div class="col-9"><h5 class="card-title">Adrasan Private Boat Tour</h5></div>
                        <div class="col-3"><h5 class="card-title">500 TL</h5></div>
                    </div>
                    <p class="card-text">Akseki Koyu, Ceneviz Koyu, Sazak Koyu, Korsan Koyu ,Suluada, Ağlayan Mağara, Fener Koyu</p>
                    <p class="card-text"><small class="text-muted">Last updated 7 weeks ago</small></p>
                </div>
            </div>
        </div>
    </div>
</div>