<div class="row">
    <div class="col-4">
        <img src="../../assets/captain.jpg" style="border-radius: 5px;">
        <p class="text-muted text-center"> Emre Yılmaz</p>
    </div>
    <div class="col-8">
        <h5>About Captain : Emre Yılmaz</h5> <hr>
        <p>For those seeking to journey through the endless blues of the sea along Antalya's mysterious coast, Captain Emre Yılmaz holds the mastery of the ocean in his hands. Located in the enchanting harbor of Adrasan, our captain is ready to provide a voyage experience for anyone who wishes to embark on a journey of love with his dedicated boat.</p>
        <p>Emre Yılmaz is an experienced seafarer and boat tour captain who has turned his passion for Antalya's sea into a way of life. Born with an innate connection to the local sea culture and natural beauty, he has set sail on a captaincy career to share the wonders with his guests.</p>
        <p>Captain Emre knows every inch of the depths of the seas. Starting from the unique coves of Adrasan, he weaves travel routes adorned with the hidden secrets of the sea, taking his guests on an unforgettable journey. With his yacht, you will lose yourself along Antalya's magnificent coastline and succumb to the magic of the sunset.</p>
        <p>Captain Emre prioritizes customer satisfaction above all. Ensuring the safety, comfort, and enjoyment of his guests is of utmost importance to him. With his extensive experience and professionalism, he leaves no detail overlooked to provide a safe voyage. Additionally, he takes into account his guests' special requests, making each journey a customized experience, offering the best service possible.</p>
    </div>
</div>