<div id="contact_nav">
  <div class="container">
    <p>Monday - Sunday 10:00 - 00:00 --  Rezervation Phone: 0 (535) 996 96 81</p>
  </div>
  
</div>
<div class="header">
  <div id="main-nav" class="container ">
    <div class="logo-section">
        <img src="../../assets/logo.png" style="width: 350px;">
    </div>
    <nav class="navbar">
        <a onclick="displayMenu()" routerLink="/">HomePage</a>
        <a onclick="displayMenu()" routerLink="/about">About Captain</a>
        <a onclick="displayMenu()" routerLink="/prices">Prices</a>
        <a onclick="displayMenu()" routerLink="/tours">Tours</a>
        <a onclick="displayMenu()" routerLink="/adrasan-bdsaays">Adrasan Bays</a>
        <a onclick="displayMenu()" routerLink="/gallery">Gallery</a>
        <a onclick="displayMenu()" routerLink="contact">Contact</a>
         <a href="#" onclick="displayMenu()">
          <i class="fa fa-bars"></i>
        </a>
    </nav>
  </div>
</div> 




  