<section class="contact">
    <div class="content">
        <h2 class="text-center">Contact Us!</h2>
        <p >To share your questions, suggestions, or reservation requests with us, please use the contact form below. We are excited to hear from you and eager to assist you.</p>
    </div>
    <div class="containerr">
        <div class="contactInfo">
            <div class="box">
                <div class="icon">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Address</h3>
                    <p>Adrasan Sahili, 07350 Kumluca/Antalya</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Email</h3>
                    <p>info@AquaVoyage.com</p>
                </div>
            </div>
            <div class="box">
                <div class="icon">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                </div>
                <div class="text">
                    <h3>Phone</h3>
                    <p>0 (535) 996 96 81</p>
                </div>
            </div>
        </div>
        <div class="contactForm">
            <form action="">
                <h2>Send Message</h2>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="inputBox">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="inputBox">
                    <textarea required="required"></textarea>
                    <span>Your Message...</span>
                </div>
                <div class="inputBox">
                    <input type="submit" name="" value="Send">
                </div>
            </form>
        </div>
    </div>
</section>