<div class="heading">
    <h3>Photo Gallery</h3> <hr> 
</div>
<div class="row">
    <div class="col-4">
        <img src="../../assets/1.jpg" alt="">
        <p>Suluada Island</p>
        <img src="../../assets/2.jpg" alt="">
        <p>Ceneviz Beach</p>
        <img src="../../assets/3.jpg" alt="">
        <p>Italy</p>
        <img src="../../assets/4.jpg" alt="">
        <p>American Bay</p>
        <img src="../../assets/5.jpg" alt="">
        <p>Liman Cove</p>
        <img src="../../assets/18.jpg" alt="">
        <p>Sazak Beach</p>
    </div>
    <div class="col-4">
        <img src="../../assets/6.jpg" alt="">
        <p>Akseki Bay</p>
        <img src="../../assets/7.jpg" alt="">
        <p>Korsan Cove</p>
        <img src="../../assets/8.jpg" alt="">
        <p>Kargıcak Bay</p>
        <img src="../../assets/9.jpg" alt="">
        <p>Suluada Island</p>
        <img src="../../assets/10.jpg" alt="">
        <p>Ceneviz Beach</p>
        <img src="../../assets/11.jpg" alt="">
        <p>Italy</p>
    </div>
    <div class="col-4">
        <img src="../../assets/12.jpg" alt="">
        <p>American Bay</p>
        <img src="../../assets/13.jpg" alt="">
        <p>Liman Cove</p>
        <img src="../../assets/14.jpg" alt="">
        <p>Akseki Bay</p>
        <img src="../../assets/15.jpg" alt="">
        <p>Korsan Cove</p>
        <img src="../../assets/16.jpg" alt="">
        <p>Kargıcak Bay</p>
        <img src="../../assets/17.jpg" alt="">
        <p>Sazak Beach</p>
    </div>
</div>