<div class="row">
    <div class="col-4">
        <img src="../../assets/1.jpg" alt="">
        <p class="text-muted text-center">Suluada Island</p>
        <img src="../../assets/6.jpg" alt="">
        <p class="text-muted text-center">Akseki Bay</p>
    </div>
    <div class="col-8">
        <div class="prices">
            <h4>Suluada Boat Tour Prices</h4> <hr>
            <p>For those spending their summer vacation in Adrasan and its surroundings, a boat tour is an indispensable activity for both entertainment and nature lovers. With a boat tour, you can visit the magnificent natural bays of Adrasan and have an unforgettable experience. The Adrasan boat tour prices are quite affordable, considering the natural beauty of each bay on the boat tour route, and with the services included in the price, it becomes a highly advantageous form of entertainment. Embarking on a tour with AquaVoyage is the best option for the most beautiful holiday day of the year, with refreshments, music, and short sea voyages along the way.</p>
            <p>Your holiday in Adrasan becomes more enjoyable and allows you to create wonderful memories with a boat tour. The Adrasan boat tour is organized every day between 10:00 AM and 5:00 PM. In 2023, the price of the Adrasan boat tour is 350 TL per person. Children aged 0-3 can join the tour for free.</p>
            <p>Additional services included in the Adrasan boat tour price:</p>
            <ul>
                <li>Lunch (Fresh fish, pasta, and salad) </li>
                <li>Potato salad or purslane salad</li>
                <li>Tea and biscuits served</li>
                <li>Organic fruit platter</li>
                <li>Guided Tour</li>
            </ul>
            <p>Additional services not included in the Adrasan boat tour price:</p>
            <ul>
                <li>Hot beverages</li>
                <li>Cold beverages</li>
                <li>Alcoholic beverages</li>
                <li>Natural pomegranate juice</li>
                <li>Snacks</li>
            </ul>
        </div>
    </div>
</div>



