<app-header></app-header>

<div class="homeabout">
    <h4>Adrasan Boat Tour: Journey to the Beauty of Nature</h4>
    <p>Join the Adrasan Boat Tour to explore the unique beauties of Antalya. Under the guidance of Captain Emre, discover the magnificent bays of Adrasan. Swim in the crystal-clear waters, sunbathe on untouched beaches, and immerse yourself in the enchanting landscapes of nature. An ideal sea journey for nature lovers, photography enthusiasts, and those seeking relaxation.</p>
    <p>Come on, embark on a journey to Adrasan's mysterious world and let the sea embrace you. Collect unforgettable memories with the Adrasan Boat Tour and witness the captivating beauty of nature.</p>
    <h4>Adrasan Boat Tour Routes</h4>
    <p>The Adrasan boat tour routes are carefully tailored to meet the preferences and expectations of travelers. Whether you have limited time or a full day to spare, there are various tour options available to suit your schedule. It's up to you to decide how much time you want to allocate for exploring the captivating bays of Adrasan.</p>
    <p>If you're looking for a quick adventure, the hourly tours are perfect. They allow you to visit multiple bays, snap some stunning photos, and make the most of your time. However, for a more immersive experience where you can truly uncover the hidden gems that attract visitors from around the world, the full-day Adrasan boat tour is highly recommended.</p>
    <p>Departing from Adrasan, the boats will take you to eleven unique and breathtaking bays. Each bay offers magnificent views and showcases the natural beauty of the area. Some routes even include the Suluada boat tour, which covers a selection of these bays. The carefully planned routes are an essential factor in determining the prices for Adrasan boat tours. With AquaVoyage, you can escape the noise and chaos of the city and immerse yourself in the serene blue waters.</p>
</div>

<div class="wave">
  <img src="../../assets/wave.png">
</div>

<div class="coves">
    <div class="row">
        <div class="heading">
            <h4>Adrasan Guide</h4>
        </div>
        <div class="col-4">
            <div class="card" style="width: 24rem;">
                <img class="card-img-top" src="../../assets/12.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Adrasan</h5>
                  <p class="card-text">
                    Adrasan is a paradise corner filled with natural beauty on the stunning shores of Antalya.</p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 24rem;">
                <img class="card-img-top" src="../../assets/13.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Suluada Island</h5>
                  <p class="card-text">Adrasan Suluada is an unexplored island with natural beauty, located among the enchanting bays of Adrasan.</p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 24rem;">
                <img class="card-img-top" src="../../assets/14.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Sazak Beach</h5>
                  <p class="card-text">Adrasan Sazak Bay is a hidden gem of natural beauty, nestled within the captivating landscape of Adrasan, offering a serene escape for nature enthusiasts.</p>
                  <a href="#" class="btn btn-primary">View</a>
                </div>
              </div>
        </div>
    </div>
</div>